section {
color: #fff;
text-align: center;
}

.container {
display: table;
width: 100%;
}

.left-half {
background-color: #ff9e2c;
position: absolute;
left: 0px;
width: 50%;
}

.right-half {
background-color: #b6701e;
position: absolute;
right: 0px;
width: 50%;
}

.profile-container { 
    max-width: 600px; 
    margin: auto; 
    padding: 20px; 
    border: 1px solid #cccccc; 
    border-radius: 8px; 
}
.profile-heading { 
    text-align: center; 
    margin-bottom: 20px; 
}
.profile-detail { 
    margin-bottom: 10px; 
}
.profile-detail-label { 
    font-weight: bold; 
}