.products-container {
    min-width: 100%;
    gap: 10px; 
}

.product-card {
    display: flex;
    width: calc(20% - 10px);
    break-inside: avoid;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 15px;
    min-width: 210px;
}

.product-image {
    max-width: 100%;
    height: auto; 
    object-fit: cover; 
    margin-bottom: 15px;
}

.product-info {
    text-align: left;
    margin-bottom: 7px;
}

.product-name {
    margin-bottom: 10px; 
    font-size: 20px;
    font-weight:bold;

}

.product-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px; /* 描述与价格之间的间距 */
}

.product-price {
    font-weight: bold;
    font-size: 16px;
}


.add-cart {
    display: inline-block; /* 让p标签像块级元素一样显示，但仍然在行内 */
    background-color: #007bff; /* Bootstrap主题蓝色 */
    color: white; /* 文字颜色为白色 */
    padding: 10px 20px; /* 内填充，上下10px，左右20px */
    font-size: 16px; /* 字体大小 */
    cursor: pointer; /* 鼠标悬停时显示指针，增加可点击的直观感受 */
    border-radius: 5px; /* 边角圆滑处理 */
    text-align: center; /* 文本居中 */
    text-decoration: none; /* 去除下划线 */
    transition: background-color 0.2s, color 0.2s; 
    margin-bottom: 5px;
  }
  
  .add-cart:hover {
    background-color: #0056b3; /* 鼠标悬停时的背景颜色 */
    color: #fff; /* 鼠标悬停时的文字颜色 */
  }
  




/* 基本的布局和字体样式 */
.product-info {
    background-color: #f9f9f9; /* 浅灰色背景，增加对比 */
    padding: 20px; /* 内边距增加空间感 */
    border-radius: 8px; /* 轻微圆角 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 轻微阴影，增加层次感 */
    margin-bottom: 20px; /* 与价格信息间距 */
}

.product-name {
    color: #007bff; /* 蓝色，增加视觉焦点 */
    margin-bottom: 10px; /* 名称与描述间的间距 */
}

.product-description {
    font-size: 16px; /* 适当的字体大小，提高可读性 */
    color: #333; /* 深灰色字体，减少眼睛疲劳 */
    margin-bottom: 15px; /* 描述与评分间的间距 */
}

.product-rating {
    font-weight: bold; /* 加粗字体，突出显示评分 */
}


.product-price {
    font-size: 20px; /* 较大的字体大小，突出价格 */
    font-weight: bold; /* 加粗显示，强调价格 */
}





  .user-reviews {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.review {
    border-bottom: 1px solid #eaecef;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.reviewer-name {
    color: #007bff;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.rating {
    font-weight: bold;
}

.rating span {
    background-color: #ffc107;
    color: #333;
    padding: 3px 8px;
    border-radius: 5px;
    font-weight: normal;
}

.comment {
    font-size: 16px;
    line-height: 1.5;
}

.review:last-child {
    border-bottom: none;
}


.rating .fas, .rating .far {
    color: #ffc107; /* 星星的颜色 */
    font-size: 20px; /* 星星的大小 */
}

.sellers-container .sellers-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* 这会使得 items 对齐到容器的起始边缘 */
    gap: 10px; /* 这提供了 items 之间的间隔 */
}

.seller {
    flex: 1 1 20%; /* grow, shrink, basis */
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.seller {
    flex: 0 0 auto; /* 不允许元素增长或缩小，且基础宽度为自动，我们将通过width属性明确指定 */
    width: calc(20% - 10px); /* 假设 gap 是 10px，这样计算可以确保一行正好放下五个元素 */
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px; /* 为了保持行间距 */
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


.add-cart {
    cursor: pointer;
    color: white;
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
}

.quantity-controls button {
    
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
}

.quantity-controls button i {
    color: #007bff; /* 调整图标颜色 */
    font-size: 16px; /* 调整图标大小 */
}

.button-container {
    display: block;
    justify-content: center;
    margin-top: 20px;
}


.custom-select{
    text-align: center;
    color: #333;
    background-color:aliceblue;
}
.left-tight {
    border-radius: 5px 0 0 5px;
}


.input-group-append {
    background-color:#eaecef;

}

.main-head {
    margin-top: 10px;

}



.review-time{
    color: black;
}


.btn {
    border: none;
}



.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination > li {
    display: inline;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus,
.pagination > .disabled > span {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
}
nav {
    width: 100%; 
}