<!DOCTYPE html>
<html lang="en">
<head>
  <title>PentaDevilZon</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/example.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/product.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">


  <style>
    body {
      font-family: "Lato", sans-serif;
    }

    .main-head {
      height: 50px;
      background: #FFF;
    }

    .sidenav {
      height: 100%;
      background-color: #012169;
      overflow-x: hidden;
      padding-top: 20px;
      padding-bottom: 10px;
    }

    .main {
      padding: 0px 10px;
    }

    .login-main-text {
      margin-top: 20%;
      padding: 60px;
      color: #fff;
    }

    .login-main-text h2 {
      font-weight: 300;
    }

    .btn-black {
      background-color: #000 !important;
      color: #fff;
    }
  </style>
</head>

<body>
  <!-- Introducting Bootstrap: jQuery and Bootstrap Bundle (includes Popper) -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>
  <div class="sidenav" style="padding-right: 15px; display: flex; align-items: center; justify-content: space-between;">
    {% block msg %}
    <h1 style="color: aliceblue; margin: 0;">
      <a href="/" style="color: aliceblue; text-decoration: none;">
        <img src="{{ url_for('static', filename='img/store-homepage.svg') }}" alt="Home" width="70" style="vertical-align: middle; margin-right: 5px; padding-left: 10px;">
        PentaDevil Shop
      </a>
    </h1>
    <form action="/product/search" method="GET" class="search-form flexible-input">
          <div class="input-group mb-3 ">
              <div class="input-group-prepend">
                  <select class="custom-select left-tight" name="search_type">
                      <option value="name" {% if search_type == 'name' %}selected{% endif %}>Name</option>
                      <option value="description" {% if search_type == 'description' %}selected{% endif %}>Description</option>
                  </select>
              </div>
              <input type="text" class="form-control" name="keyword" placeholder="Search products..." value="{{ request.args.get('keyword', '') }}">
              <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="submit">
                      <i class="fas fa-search"></i>
                  </button>
              </div>
        </div>
  </form>
  

    <div style="color: aliceblue; text-align: right;">
      {% if current_user.is_authenticated %}
      <div class="dropdown">
        <span id="greeting">Hello, {{current_user.firstname}}!</span>
        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" data-boundary="viewport">
          Account
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{ url_for('users.user_profile') }}" class="btn btn-light">Your Profile</a>
          <a class="dropdown-item" href="{{ url_for('cart.cart') }}" class="btn btn-light">Your Cart</a>
          <a class="dropdown-item" href="{{ url_for('usercomment.usercomments') }}" class="btn btn-light">Your Comments</a>
          {% if current_user.isSeller %}
          <a class="dropdown-item" href="{{ url_for('inventory.inventory') }}" class="btn btn-light">Your Inventory</a>
          <a class="dropdown-item" href="{{ url_for('clientorder.clientorder') }}" class="btn btn-light">Client's order</a>
          {% endif %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('users.logout') }}" class="btn btn-light">Log out</a>
        </div>
      </div>
      {% else %}
      <a href="{{ url_for('users.login') }}" class="btn btn-light">Log in</a>
      {% endif %}
    </div>
    {% endblock %}
  </div>
  
  <div class="main">
    {% block content %}{% endblock %}
  </div>
</body>
<footer class="footer-custom text-white text-center py-4" style="background-color: #012169;">
  Developed by PentaDevil  All Rights Reserved &copy; 2024
  Team member: A B C D E!
</footer>
</html>


<script>
  document.addEventListener('DOMContentLoaded', function() {
      var today = new Date();
      var hour = today.getHours();
      var greeting;
  
      if (hour < 12) {
          greeting = "Good morning";
      } else if (hour < 18) {
          greeting = "Good afternoon";
      } else {
          greeting = "Good evening";
      }
  
      document.getElementById('greeting').textContent = greeting + ', {{current_user.firstname}}!';
  });
  </script>
  