{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    {% if current_user.is_authenticated %}
    <!-- Cart Section -->
    <h2>Your Cart:</h2>
    <table class='table table-hover'>
        <thead class="thead-dark">
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Product Image</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <th scope="row">{{ item.name }}</th>
                <td><img src="{{ item.image }}" alt="{{ item.name }}" class="img-fluid" style="max-width: 100px;"></td>
                <td class="item-price">${{ item.price }}</td>
                <td>
                    <button type="button" class="btn btn-light btn-sm quantity-change" data-operation="decrement" data-cartid="{{ item.cartid }}">-</button>
                    <span class="mx-2">{{ item.quantity }}</span>
                    <button type="button" class="btn btn-light btn-sm quantity-change" data-operation="increment" data-cartid="{{ item.cartid }}">+</button>
                </td>
                <td>
                    <form method="POST" action="{{ url_for('cart.cart_and_save') }}">
                      <input type="hidden" name="cart_id" value="{{ item.cartid }}">
                      <input type="hidden" name="in_cart" value="true">
                      <input type="hidden" name="sellerinventoryid" value="{{ item.sellerinventoryid }}">
                      <input type="hidden" name="quantity" value="{{ item.quantity }}">
                      <input type="hidden" name="product_id" value="{{ item.productid }}">
                      <button type="submit" class="btn btn-info btn-sm">Save for Later</button>
                    </form>
                    <form method="POST" action="{{ url_for('cart.remove') }}">
                      <input type="hidden" name="cart_id" value="{{ item.cartid }}">
                      <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                    </form>
                </td>
            </tr>
            {% else %}
            <tr><td colspan="5">Your cart is empty.</td></tr>
            {% endfor %}
            <tr>
              <th colspan="3">Total</th>
              <td id="totalQuantity">Total Quantity: 0</td>
              <td id="totalPrice">Total Price: $0.00</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td colspan="5">
                <form action="{{ url_for('userorder.checkout') }}" method="POST">
                    <button type="submit" class="btn btn-success">Proceed to Checkout</button>
                </form>
              </td>
            </tr>
        </tbody>
    </table>

    <!-- Saved for Later Section -->
    <h2 class="mt-5">Your Items Saved for Later:</h2>
    <table class='table table-hover'>
        <thead class="thead-dark">
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Product Image</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Actions</th>
                <th scope="col">Seller ID</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items_saved %}
            <tr>
                <th scope="row">{{ item.name }}</th>
                <td><img src="{{ item.image }}" alt="{{ item.name }}" class="img-fluid" style="max-width: 100px;"></td>
                <td>${{ item.price }}</td>
                <td>
                  <input type="number" name="quantity" class="quantity-input" value="{{ item.quantity}}" min="1" readonly>
                </td>
                <td>
                    <form method="POST" action="{{ url_for('cart.cart_and_save') }}">
                      <input type="hidden" name="cart_id" value="{{ item.cartid }}">
                      <input type="hidden" name="in_cart" value="false">
                      <input type="hidden" name="sellerinventoryid" value="{{ item.sellerinventoryid }}">
                      <input type="hidden" name="quantity" value="{{ item.quantity }}">
                      <input type="hidden" name="product_id" value="{{ item.productid }}">
                      <button type="submit" class="btn btn-primary btn-sm">Add Back to Cart</button>
                    </form>
                    <form method="POST" action="{{ url_for('cart.remove') }}">
                      <input type="hidden" name="cart_id" value="{{ item.cartid }}">
                      <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                  </form>
                </td>
                <td>{{ item.sellerid }}</td>
            </tr>
            {% else %}
            <tr><td colspan="5">No items saved for later.</td></tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-info" role="alert">
        <a href="{{ url_for('users.login') }}" class="alert-link">Log in</a> to see your cart items and saved items!
    </div>
    {% endif %}
</div>


<script type="text/javascript">
    function updateTotals() {
        let totalQuantity = 0;
        let totalPrice = 0;
        document.querySelectorAll('tr').forEach(row => {
            const quantitySpan = row.querySelector('span');
            if (quantitySpan) {
                const quantity = parseInt(quantitySpan.textContent);
                const price = parseFloat(row.querySelector('.item-price').textContent.replace('$', ''));
                totalQuantity += quantity;
                totalPrice += quantity * price;
            }
        });
        document.getElementById('totalQuantity').textContent = 'Total Quantity: ' + totalQuantity;
        document.getElementById('totalPrice').textContent = 'Total Price: $' + totalPrice.toFixed(2);
    }
    
    window.onload = function() {
        updateTotals(); // Calculate initial totals
        const quantityChangeButtons = document.querySelectorAll('.quantity-change');
    
        quantityChangeButtons.forEach(button => {
            button.addEventListener('click', function() {
                const operation = this.getAttribute('data-operation');
                const cartId = this.getAttribute('data-cartid');
                const quantitySpan = this.parentElement.querySelector('span');
                let newQuantity = parseInt(quantitySpan.textContent);
    
                if (operation === 'increment') {
                    newQuantity++;
                    updateQuantity(cartId, newQuantity, quantitySpan);
                } else if (operation === 'decrement') {
                    if (newQuantity > 1) {
                        newQuantity--;
                        updateQuantity(cartId, newQuantity, quantitySpan);
                    } else {
                        alert("Quantity cannot be less than 1.");
                    }
                }
            });
        });
    };
    
    function updateQuantity(cartId, newQuantity, quantitySpan) {
        fetch(`/cart/update_quantity/${cartId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({quantity: newQuantity})
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                quantitySpan.textContent = newQuantity;
                updateTotals(); // Update totals after change
            } else {
                alert('Failed to update quantity.');
            }
        });
    }
    </script>
    

{% endblock %}
