{% extends "base.html" %}

{% block content %}

<br><br>
{% if current_user.is_authenticated %}
{% if current_user.isSeller %}
<h2>Your Inventory:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Product Image</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items%}
      <tr>
        <th scope="row">{{item.name}}</th>
        <td>{{item.image}}</td>
        <td>{{item.price}}</td>
        <td>{{item.quantity}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h2>Please sign up as seller first</h2>
{% endif%}
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your cart items!</p>
{% endif %}


{% endblock %}
