{% extends "base.html" %}

{% block content %}

<br><br>
{% if current_user.is_authenticated %}
{% if current_user.isSeller %}

<h2>Your Inventory:</h2>

  <div>

  <button type="button" class="btn btn-primary" onclick="window.location='{{ url_for('product.product_add') }}';">
    Add/Edit Product
  </button>
</div>


<table class='table table-hover table-bordered container'>
  <thead class="thead-custom" style="background-color: #00539B; color: rgb(18, 32, 46);">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Product Image</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items%}
      <tr>
        <th scope="row">{{item.name}}</th>
        <td>{{item.image}}</td>
        <td>{{item.price}}</td>
        <td>{{item.quantity}}</td>
        <td><a href="/edit-inventory" class="btn btn-primary">Edit</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h2>Please sign up as seller first</h2>
{% endif%}
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your cart items!</p>
{% endif %}


{% endblock %}
