{% extends "base.html" %} <!-- Extends from a base template file -->

{% block content %} <!-- Starts the content block -->

<br><br> <!-- Adds two line breaks for visual spacing -->
{% if current_user.is_authenticated %} <!-- Checks if the current user is authenticated (logged in) -->
<h2>Order detail:</h2> <!-- Displays the title: Order Detail -->
<div class="container mt-5"> <!-- Container with top margin for spacing -->
  <div class="card"> <!-- Card layout starts -->
      <div class="card-body"> <!-- Card content area -->
          <h4 class="card-title">{{ user_info.firstname }} {{ user_info.lastname }}</h4> <!-- Displays user's full name -->
          <br> <!-- Line break -->
          <p class="card-text"><strong>Email:</strong> {{ user_info.email }}</p> <!-- Displays user's email -->
          <p class="card-text"><strong>Address:</strong> {{ user_info.address }}</p> <!-- Displays user's address -->
          <p class="card-text"><strong>Product Name:</strong> {{ item_info.product_name }}</p> <!-- Displays product name -->
          <p class="card-text"><strong>Purchase Price:</strong> {{ item_info.brought_price }}</p> <!-- Displays purchase price -->
          <p class="card-text"><strong>Quantity:</strong> {{ item_info.quantity }}</p> <!-- Displays quantity purchased -->
          <p class="card-text"><strong>Order Time:</strong> {{ item_info.order_time }}</p> <!-- Displays order time -->
          <p class="card-text"><strong>Order Status:</strong> {{ item_info.order_status }}</p> <!-- Displays order status -->
          {% if item_info.order_status == 'False' %} <!-- Checks if the order status is not completed -->
            <form action="{{ url_for('clientorder.fulfillorder') }}" method="POST"> <!-- Form to submit for order fulfillment -->
              <input type="hidden" name="item_id" value="{{ item_info.item_id }}"> <!-- Hidden field containing item ID -->
              <button type="submit" class="btn btn-primary">Fulfill</button> <!-- Button to submit form for fulfillment -->
            </form>      
          {% endif %}
      </div>
  </div>
</div>

{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to view your purchase history!</p> <!-- If user is not logged in, display login link -->
{% endif %}

{% endblock %} <!-- Ends the content block -->
