{% extends "base.html" %}

{% block content %}
<script src="{{ url_for('static', filename='js/product.js') }}"></script>
<!-- The homepage -->
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="filters">
                <!-- Display all filters -->
                <div class="filter-item">
                    <h5 data-toggle="collapse" href="#ratingCollapse" role="button" aria-expanded="false" aria-controls="ratingCollapse" style="cursor:pointer;">
                        Rating Above<i class="fas fa-chevron-down"></i> 
                    </h5>
                    <div class="collapse" id="ratingCollapse">
                        <form action="/product/search" method="GET"> 
                            <div class="rating-button"><button type="submit" name="min_rating" value="1" class="btn star-rating"><i class="fa fa-star"></i></button></div>
                            <div class="rating-button"><button type="submit" name="min_rating" value="2" class="btn star-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i></button></div>
                            <div class="rating-button"><button type="submit" name="min_rating" value="3" class="btn star-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></button></div>
                            <div class="rating-button"><button type="submit" name="min_rating" value="4" class="btn star-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></button></div>
                            <div class="rating-button"><button type="submit" name="min_rating" value="5" class="btn star-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></button></div>
                        </form>
                    </div>
                </div>
                
                
                <div class="filter-item">
                    <h5 data-toggle="collapse" href="#priceRangeCollapse" role="button" aria-expanded="false" aria-controls="priceRangeCollapse" style="cursor:pointer;">
                        Price Range <i class="fas fa-chevron-down"></i>
                    </h5>
                    <div class="collapse" id="priceRangeCollapse" id="priceForm">
                        <form action="/product/search" method="GET" id="priceForm">
                            <div class="input-group">
                                <input type="number" name="min_price" placeholder="Min" class="form-control">
                                <span class="input-group-text clickable" id="submitPrice">to</span>
                                <input type="number" name="max_price" placeholder="Max" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        


        <div class="col-lg-10">
            <div class="main-head">
                <form action="/product/search" method="GET" class="search-form">
                    <div class="row">
                        <!-- Search type and keyword input -->
                        <div class="col-md-2">
                            
                        </div>
                        <!-- Sorting options -->
                        <div class="col-md-4">
                            <select class="custom-select mb-3" name="sort" onchange="this.form.submit()">
                                <option value="price_asc" {% if sort == 'price_asc' %}selected{% endif %}>Price Ascending</option>
                                <option value="price_desc" {% if sort == 'price_desc' %}selected{% endif %}>Price Descending</option>
                                <option value="rating_asc" {% if sort == 'rating_asc' %}selected{% endif %}>Rating Ascending</option>
                                <option value="rating_desc" {% if sort == 'rating_desc' %}selected{% endif %}>Rating Descending</option>
                            </select>
                        </div>
                        <!-- Category filter -->
                        <div class="col-md-4">
                            <select name="category" onchange="this.form.submit()" class="custom-select mb-3">
                                <option value="">All Categories</option>
                                {% for category in categories %}
                                <option value="{{ category.id }}" {% if selected_category == category.id|string %}selected{% endif %}>
                                    {{ category.name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
                
                
            </div>
            {% if products %}
            <div class="products-container">
                {% for product in products %}
                <div class="product-card">
                    <img class="product-image" src="{{ product.image }}" alt="{{ product.name }}"
                        onclick="window.location='{{ url_for('product.product_detail', product_id=product.id) }}';"
                        style="cursor: pointer;"
                        onerror="this.onerror=null; this.src='{{ url_for('static', filename='img/huh.gif') }}';">
                        <!-- this is used to display the image of the product -->
                    <div class="product-info">
                        <h5 class="product-name">{{ product.name }}</h5>
                        <p class="product-description">{{ product.description }}</p>

                        <div class="product-rating">
                            Rating: {{ product.rating }}
                        </div>

                        <p class="product-price">$ {{ product.price }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- this is the pagination -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item {% if current_page <= 1 %}disabled{% endif %}">
                        <a class="page-link" href="{{ url_for('product.product_search', page=current_page-1, search_type=request.args.get('search_type'), keyword=request.args.get('keyword')) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
            
                    {% for i in range(current_page - 2, current_page + 3) %}
                        {% if i > 0 and i <= total_pages %}
                            <li class="page-item {% if i == current_page %}active{% endif %}">
                                <a class="page-link" href="{{ url_for('product.product_search', page=i, search_type=request.args.get('search_type'), keyword=request.args.get('keyword')) }}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
            
                    <li class="page-item {% if current_page >= total_pages %}disabled{% endif %}">
                        <a class="page-link" href="{{ url_for('product.product_search', page=current_page+1, search_type=request.args.get('search_type'), keyword=request.args.get('keyword')) }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            
            {% else %}
            <p style="text-align: center;">No products found!</p>
            <img src="{{ url_for('static', filename='img/sheep.gif')}}" alt="luelueluelue" style="display: block; margin: auto;">
            {% endif %}
        </div>
    </div>
</div>
    
{% endblock %}


