{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <!-- Product Image -->
    <div class="col-md-5">
      <img class="product-image w-100" src="{{ product.image }}" alt="{{ product.name }}">
    </div>

    <!-- Product Info -->
    <div class="col-md-7">
      <div class="product-info">
        <h5 class="product-name">{{ product.name }}</h5>
        <p class="product-description1">{{ product.description }}</p>
        <p class="product-price">Rating: {{ product.rating }}</p>
        <!-- <p class="product-price">Price Information</p>
        <p class="product-price">$ {{ product.price }}</p> -->
      </div>
      <div class="sellers-container">
        <h3>Related Sellers</h3>
        {% if sellers %}
            <div class="sellers-grid">
                {% for seller in sellers %}
                <div class="seller">
                  <p>By: <a href="{{ url_for('profiles.public_profile', user_id=seller.id) }}">{{ seller.firstname }} {{ seller.lastname }}</a></p>
                    <p>Price: $ {{ seller.current_price }}</p>
                    <p>Quantity available: {{ seller.quantity }}</p>
                    
                {% if current_user.is_authenticated %}
                <!-- <form action="{{ url_for('cart.cart_add', product_id=product.id) }}" method="POST">
                    <div class="quantity-controls">
                      <button type="button" class="decrease-quantity"><i class="fas fa-minus"></i></button>
                      <input type="number" name="quantity" class="quantity-input" value="1" min="1" max="{{ seller.quantity }}">
                      <button type="button" class="increase-quantity"><i class="fas fa-plus"></i></button>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Add to cart"/>
                </form> -->
                <!-- <form action="{{ url_for('cart.cart_add_saved_for_later', product_id=product.id) }}" method="POST">
                    <input class="btn btn-primary" type="submit" value="Save for later"/>
                </form> -->
                <form id="productActionForm" action="" method="POST">
                  <div class="quantity-controls">
                      <button type="button" class="decrease-quantity"><i class="fas fa-minus"></i></button>
                      <input type="number" name="quantity" class="quantity-input" value="1" min="1" max="{{ seller.quantity }}">
                      <button type="button" class="increase-quantity"><i class="fas fa-plus"></i></button>
                  </div>
                  <br>
                  <input id="addToCart" class="btn btn-primary" type="submit" value="Add to cart"/>
                  <br>
                  <br>
                  <input id="saveForLater" class="btn btn-info" type="submit" value="Save for later"/>
              </form>          
                {% endif %}
                </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No sellers available for this product.</p>
        {% endif %}
      </div>
    </div>
  
    </div>
    

 
<!-- User Reviews -->
  <div class="user-reviews">
    <h3>User Reviews</h3>
    {% for review in reviews %}
    <div class="review">
      <h4 class="reviewer-name">
        <a href="{{ url_for('profiles.public_profile', user_id=review.id) }}">Reviewer: {{ review.firstname }} {{ review.lastname }}</a>
        <span class="review-time">{{ review.time_commented }}</span>
    </h4>
      <p class="rating">Rating: 
        {% for _ in range(review.rate) %}
          <i class="fas fa-star"></i>
        {% endfor %}
        {% for _ in range(5-review.rate) %}
          <i class="far fa-star"></i> 
        {% endfor %}
      </p>
      <p class="comment">{{ review.comment }}</p>
    </div>
    {% else %}
    <p>No reviews available.</p>
    {% endfor %}
</div>

{% if current_user.is_authenticated %}
<form action="{{ url_for('product.add_comment') }}" method="POST">
  <label for="inputText">Comment: </label>
  <input type="text" class="inputcomment" name="comment"><br>
  <input type="hidden" name="product_id" value="{{ product_id }}">
  <div class="star-rating1">
      <input type="radio" id="star5" name="rating" value="5"><label for="star5">★</label>
      <input type="radio" id="star4" name="rating" value="4"><label for="star4">★</label>
      <input type="radio" id="star3" name="rating" value="3"><label for="star3">★</label>
      <input type="radio" id="star2" name="rating" value="2"><label for="star2">★</label>
      <input type="radio" id="star1" name="rating" value="1"><label for="star1">★</label>
  </div>

  <button type="submit">Submit</button>
</form>
{% endif %}
</div>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
      document.querySelectorAll('.increase-quantity').forEach(button => {
          button.addEventListener('click', function() {
              const controlsContainer = this.closest('.quantity-controls');
              const input = controlsContainer.querySelector('.quantity-input');
              const currentValue = parseInt(input.value, 10);
              if (currentValue < input.max) {
                  input.value = currentValue + 1;
              }
          });
      });
  
      document.querySelectorAll('.decrease-quantity').forEach(button => {
          button.addEventListener('click', function() {
              const controlsContainer = this.closest('.quantity-controls');
              const input = controlsContainer.querySelector('.quantity-input');
              const currentValue = parseInt(input.value, 10);
              if (currentValue > input.min) {
                  input.value = currentValue - 1;
              }
          });
      });
  
      // Set the form action based on the button clicked
      const form = document.getElementById('productActionForm');
      document.getElementById('addToCart').addEventListener('click', function() {
          form.action = "{{ url_for('cart.cart_add', product_id=product.id) }}";
      });
      document.getElementById('saveForLater').addEventListener('click', function() {
          form.action = "{{ url_for('cart.cart_add_saved_for_later', product_id=product.id) }}";
      });
  });
  </script>
  
<!-- <script>
  document.addEventListener('DOMContentLoaded', (event) => {
      document.querySelectorAll('.increase-quantity').forEach(button => {
          button.addEventListener('click', function() {
              const controlsContainer = this.closest('.quantity-controls');
              const input = controlsContainer.querySelector('.quantity-input');
              const currentValue = parseInt(input.value, 10);
              if (currentValue < input.max) {
                  input.value = currentValue + 1;
              }
          });
      });
  
      document.querySelectorAll('.decrease-quantity').forEach(button => {
          button.addEventListener('click', function() {
              const controlsContainer = this.closest('.quantity-controls');
              const input = controlsContainer.querySelector('.quantity-input');
              const currentValue = parseInt(input.value, 10);
              if (currentValue > input.min) {
                  input.value = currentValue - 1;
              }
          });
      });
  });
  </script> -->
  
{% endblock %}
