{% extends "base.html" %}

{% block content %}

<br><br>
{% if current_user.is_authenticated %}
<h2>Your Comment for Product:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-custom" style="background-color: #00539B; color: rgb(8, 8, 8);">
    <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Comment</th>
        <th scope="col">Comment Rate</th>
        <th scope="col">Comment Time</th>
        <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for comment in product_comments %}
      <tr>
        <th scope="row">{{ comment.productid }}</th>
        <td>{{ comment.comment }}</td>
        <td>{{ comment.rate }}</td>
        <td>{{ comment.time_commented }}</td>
        <td><a href="{{ url_for('usercomment.edit_product_comment', comment_id=comment.id) }}" class="btn btn-primary">Edit</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br><br>
<h2>Your Comment for Seller:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-custom" style="background-color: #00539B; color: rgb(8, 8, 8);">
    <tr>
      <th scope="col">Seller ID</th>
      <th scope="col">Comment</th>
      <th scope="col">Comment Rate</th>
      <th scope="col">Comment Time</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for comment in seller_comments %}
      <tr>
        <th scope="row">{{ comment.sellerid }}</th>
        <td>{{ comment.comment }}</td>
        <td>{{ comment.rate }}</td>
        <td>{{ comment.date_commented }}</td>
        <td><a href="{{ url_for('usercomment.edit_seller_comment', comment_id=comment.id) }}" class="btn btn-primary">Edit</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to view your comments.</p>
{% endif %}

{% endblock %}
