{% extends "base.html" %}

{% block content %}

<br><br>
{% if current_user.is_authenticated %}

<div class="profile-container">
    <h2 class="profile-heading">User Profile</h2>
    
    <div class="profile-detail">
        <span class="profile-detail-label">Email:</span> <span id="email">{{user_info.email}}</span>
    </div>
    <div class="profile-detail">
        <span class="profile-detail-label">First Name:</span> <span id="firstname">{{user_info.firstname}}</span>
    </div>
    <div class="profile-detail">
        <span class="profile-detail-label">Last Name:</span> <span id="lastname">{{user_info.lastname}}</span>
    </div>
    <div class="profile-detail">
        <span class="profile-detail-label">Address:</span> <span id="address">{{user_info.address}}</span>
    </div>
    <div class="profile-detail">
        <span class="profile-detail-label">Seller Status:</span> <span id="isSeller">{{user_info.isSeller}}</span>
    </div>
    <div class="profile-detail">
        <span class="profile-detail-label">Balance:</span> <span id="balance">{{user_info.balance}}</span>
    </div>
</div>
<a href="/" class="btn btn-primary">Return to Home</a>



{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your cart items!</p>
{% endif %}


{% endblock %}
